<%= link_to @post.title, post_path %>
<%= h (@post.body) %>

<%= link_to 'comment', new_post_comment_path(@post) %>

<ul>
	<% @post.comments.each do |comment| -%>
		<li><%= comment.body %><br />
			<%= comment.name %></li>
	<% end %>
</ul>